# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
testenv/
.env

# Database
*.db
*.sqlite3

# Node
node_modules/
frontend/node_modules/

# Build
dist/
build/

# Logs
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# ML Models
#models/*.pkl